# **Q1. Explain the key features of Python that make it a popular choice for programming.**

Python is a widely used programming language, and its popularity stems from several key features that make it versatile, powerful, and user-friendly. Below are the main features of Python that contribute to its popularity:

•	Simple and readable syntax: Easy to learn and use.

•	High-level, interpreted language: No need for compilation, making development faster.

•	Dynamically typed: No need to declare variable types.

•	Cross-platform compatibility: Runs on multiple operating systems.

•	Extensive standard library: Built-in modules for various tasks.

•	Multiple programming paradigms: Supports object-oriented, procedural, and functional programming.

•	Third-party libraries: Wide range of libraries for web development, data science, machine learning, etc.

•	Active community: Strong support and resources.


•	Open-source: Freely available with regular updates.

•	Scalable: Suitable for both small scripts and large applications.

# **Q2. Describe the role of predefined keywords in Python and provide examples of how they are used in a programming.**

Predefined keywords in Python are reserved words that hold special significance and cannot be used as identifiers like variable or function names. These keywords define the syntax and structure of the Python language and are essential for various programming tasks.

**Key Roles of Predefined Keywords:**

**1.Control Flow:** Keywords like if, else, elif, for, while manage the flow of a program

Example:

In [2]:

x= 5
if x > 10:
    print("Greater than 10")
else:
    print("Less than or equal to 10")

Less than or equal to 10

**2.Data Definition:** Keywords like class, def, lambda are used to define classes, functions, or anonymous functions.

Example:

In [3]:
def greet():
    print("Hello")

**3.Exception Handling:** Keywords like try, except, finally, raise manage error handling.

Example:

In [4]:
try:
    num = 1 / 0
except ZeroDivisionError:
    print("Cannot divide by zero!")

Cannot divide by zero!

**4.Boolean Logic:** Keywords like True, False, and, or, not are used in logical expressions.

Example:

In [5]:
is_valid = True and not False

# **Q3. Compare and contrast mutable and immutable objects in Python with examples.**



In Python, objects are classified as either mutable or immutable, depending on whether their value can be changed after they are created.
**Mutable Objects:**

•	**Definition:** Mutable objects are those whose value or state can be modified after creation.

•	**Examples:** Lists, dictionaries, sets, byte arrays.

In [6]:
my_list = [1, 2, 3]
my_list.append(4)         # Mutates the list by adding 4
print(my_list)             # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [7]:
my_dict = {"name": "Alice"}
my_dict["age"] = 25                        # Mutates the dictionary by adding a new key-value pair
print(my_dict)                              # Output: {'name': 'Alice', 'age': 25}

{'name': 'Alice', 'age': 25}

**Immutable Objects:**

**•	Definition:** Immutable objects are those whose state cannot be changed once created.

**•	Examples:** Integers, floats, strings, tuples, frozensets.

In [8]:
my_string = "Hello"
new_string = my_string + " World"         # A new string is created
print(new_string)

Hello World

**Key Differences:**


| Feature | Mutable | Immutable |
|----------|----------|----------|
| Modifiability   |Can be changed after creation   | Cannot be changed after creation   |
| Examples   | Lists, dictionaries, sets  | Strings, tuples, integers |
| Memory Usage   | May require more memory for in-place modifications  |Generally efficient with memory since values cannot change   |
| Performance  | Can be slower due to in-place modifications   | Faster for fixed data, as no in-place modifications are needed  |
|Usage  | Suitable when data needs frequent updates  | Suitable for constant data or keys in dictionaries  |

# **Q4. Discuss the different types of operators in Python and provide examples of how they are used.**

**1.	Arithmetic Operators**

These operators are used to perform basic mathematical operations.

'+' : Addition

'-' : Subtraction

'*' : Multiplication

/ : Division (gives a float)

% : Modulus (remainder of division)

** : Exponentiation (power)

// : Floor division (quotient without remainder)

**Example:**

In [9]:
a = 10
b = 3

print(a + b)    # 13 (Addition)
print(a - b)    # 7 (Subtraction)
print(a * b)    # 30 (Multiplication)
print(a / b)    # 3.333 (Division)
print(a % b)    # 1 (Modulus)
print(a ** b)   # 1000 (Exponentiation)
print(a // b)   # 3 (Floor Division)

13
7
30
3.3333333333333335
1
1000
3

**2. Comparison (Relational) Operators**


These operators compare values and return a boolean value (True or False).


== : Equal to

!= : Not equal to

> : Greater than

< : Less than

>= : Greater than or equal to

<= : Less than or equal to


**Example:**

In [10]:
x = 5
y = 8

print(x == y)   # False
print(x != y)   # True
print(x > y)    # False
print(x < y)    # True
print(x >= 5)   # True
print(y <= 8)   # True

False
True
False
True
True
True

**3. Logical Operators**

Logical operators are used to combine conditional statements.

•	and : Returns True if both statements are true

•	or : Returns True if one of the statements is true

•	not : Reverses the result (True becomes False, False becomes True)

**Example:**

In [11]:
x = True
y = False

print(x and y)  # False
print(x or y)   # True
print(not x)    # False

False
True
False

**4. Assignment Operators**

These operators are used to assign values to variables, and they also provide shorthand versions for arithmetic operations.

= : Assigns value

+= : Adds and assigns

-= : Subtracts and assigns

*= : Multiplies and assigns

/= : Divides and assigns

//= : Floor divides and assigns

%= : Modulus and assigns

**= : Exponentiates and assigns

**Example:**

In [12]:
a = 5
a += 3  # Equivalent to a = a + 3
print(a)  # 8

b = 10
b *= 2  # Equivalent to b = b * 2
print(b)  # 20

8
20

**5. Bitwise Operators**

These operators perform bit-level operations on integers.

& : Bitwise AND

| : Bitwise OR

^ : Bitwise XOR

~ : Bitwise NOT

<< : Left shift

>> : Right shift

**Example:**

In [13]:
a = 6  # Binary: 110
b = 3  # Binary: 011

print(a & b)   # 2 (Binary: 010)
print(a | b)   # 7 (Binary: 111)
print(a ^ b)   # 5 (Binary: 101)
print(~a)      # -7 (Inverts bits)
print(a << 1)  # 12 (Binary: 1100)
print(a >> 1)  # 3 (Binary: 011)

2
7
5
-7
12
3

**6. Identity Operators**

These operators are used to compare the memory locations of two objects.

is : Returns True if both variables point to the same object

is not : Returns True if they point to different objects

**Example:**

In [14]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)       # True, because z is the same object as x
print(x is y)       # False, because x and y are different objects
print(x == y)       # True, because they have the same content

True
False
True

**7. Membership Operators**

These operators are used to test whether a value is found in a sequence (like a list, tuple, or string).

in : Returns True if a value is present in the sequence

not in : Returns True if a value is not present in the sequence

**Example:**

In [15]:
fruits = ["apple", "banana", "cherry"]

print("banana" in fruits)   # True
print("grape" not in fruits) # True

True
True

**8. Ternary Operator (Conditional Expression)**

This is a shorthand for an if-else statement in Python.

**Syntax:**  [on_true] if [condition] else [on_false]

**Example:**

In [17]:

age = 18
result = "Adult" if age >= 18 else "Minor"
print(result)  # Adult

Adult

# **Q5. Explain the concept of type casting in Python with examples.**
Type casting (also known as type conversion) in Python refers to the process of converting one data type into another. This can be done manually by the programmer or automatically by Python when necessary. Python provides several built-in functions for explicit type casting, allowing for conversion between different data types such as integers, floats, strings, and more.

There are two types of type casting in Python:
1.	Implicit Type Casting (Automatic conversion)
2.	Explicit Type Casting (Manual conversion)

**1. Implicit Type Casting**

In implicit type casting, Python automatically converts one data type to another whenever required. This is usually done to avoid data loss or maintain precision. Python does this conversion without the programmer’s intervention.

**Example:**

In [18]:
a = 5      # Integer
b = 2.5    # Float

# Python automatically converts 'a' to float and performs the operation
result = a + b
print(result)   # 7.5 (a is implicitly converted to float)
print(type(result))  # <class 'float'>

7.5
<class 'float'>

**2. Explicit Type Casting**

In explicit type casting, the programmer manually converts one data type to another using Python’s built-in type conversion functions. This method requires the programmer to be more careful, as converting types manually may lead to data loss or errors.

**Common Type Casting Functions in Python:**

•	int() : Converts a value to an integer

•	float() : Converts a value to a float

•	str() : Converts a value to a string

•	list() : Converts a sequence to a list

•	tuple() : Converts a sequence to a tuple

•	set() : Converts a sequence to a set

•	dict() : Converts a sequence of key-value pairs to a dictionary

**Examples of Explicit Type Casting:**

**a. Converting a Float to an Integer**

When you convert a float to an integer using int(), the decimal part is discarded (it doesn’t round the number)

In [19]:
x = 4.9
y = int(x)
print(y)  # 4
print(type(y))  # <class 'int'>

4
<class 'int'>

**b. Converting an Integer to a Float**

In [20]:
a = 10
b = float(a)
print(b)  # 10.0
print(type(b))  # <class 'float'>

10.0
<class 'float'>

**c. Converting a String to an Integer**

The string must contain only digits; otherwise, the conversion will raise an error.

In [21]:
num_str = "123"
num = int(num_str)
print(num)  # 123
print(type(num))  # <class 'int'>

123
<class 'int'>

**d. Converting an Integer to a String**

In [22]:
num = 100
num_str = str(num)
print(num_str)  # "100"
print(type(num_str))  # <class 'str'>

100
<class 'str'>

**e. Converting a List to a Tuple and Vice Versa**

In [24]:
# Converting a list to a tuple
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print(my_tuple)  # (1, 2, 3)

# Converting a tuple to a list
my_new_list = list(my_tuple)
print(my_new_list)  # [1, 2, 3]

(1, 2, 3)
[1, 2, 3]

**f. Converting a String to a List**

In [25]:
my_str = "hello"
my_list = list(my_str)
print(my_list)  # ['h', 'e', 'l', 'l', 'o']

['h', 'e', 'l', 'l', 'o']

# **Q6. How do conditional statements work in Python? Illustrate with examples.**

Conditional statements in Python allow the execution of certain blocks of code based on the evaluation of a condition (i.e., whether it is True or False). These statements enable decision-making in the flow of a program. The most common conditional statements in Python are:

1.	if statement

2.	if-else statement

3.	if-elif-else statement

4.	Nested if statement

**1. if Statement**

The if statement checks a condition and executes the code block inside it only if the condition is True.

**Example:**

In [26]:
age = 20

if age >= 18:
    print("You are an adult.")

You are an adult.

**2. if-else Statement**

The if-else statement allows us to execute one block of code if the condition is True, and another block of code if the condition is False.

**Example:**

In [27]:
age = 16

if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

You are a minor.

**3. if-elif-else Statement**

The if-elif-else statement allows checking multiple conditions. The first condition that evaluates to True will execute its corresponding code block, and the rest of the conditions are ignored.

**Example:**

In [28]:
marks = 75

if marks >= 90:
    print("Grade: A")
elif marks >= 75:
    print("Grade: B")
elif marks >= 50:
    print("Grade: C")
else:
    print("Grade: F")

Grade: B

**4. Nested if Statement**

A nested if statement is when an if statement is placed inside another if or else statement. This allows us to make further decisions based on multiple conditions.

**Example:**

In [29]:
num = 10

if num > 0:
    print("The number is positive.")
    if num % 2 == 0:
        print("The number is even.")
    else:
        print("The number is odd.")
else:
    print("The number is negative or zero.")

The number is positive.
The number is even.

# **Q7. Describe the different types of loops in Python and their use cases with examples.**

In Python, loops are used to repeatedly execute a block of code as long as a condition is met. There are two primary types of loops in Python:

1.for loop

2.while loop

Each loop serves different purposes and can be used in various scenarios. Let's discuss both types of loops and their use cases with examples.

**1. for Loop**

A for loop is used to iterate over a sequence (such as a list, tuple, dictionary, set, or string) or other iterable objects. It allows executing a block of code for each item in the sequence.

**Use Case:**


-> Iterating through a list of items

-> Repeating an action a certain number of times

-> Processing data in a file or dataset

**Example 1: Iterating Over a List**

In [30]:
fruits = ["apple", "banana", "cherry"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry

**Example 2:** **Using range() to Generate a Sequence** The range() function is commonly used with for loops to generate a sequence of numbers.

In [31]:
for i in range(5):
    print(i)

0
1
2
3
4

**Example 3: Iterating Over a Dictionary**

In [32]:
student_scores = {"Alice": 85, "Bob": 90, "Charlie": 75}

for name, score in student_scores.items():
    print(f"{name}: {score}")

Alice: 85
Bob: 90
Charlie: 75

**2. while Loop**

The while loop repeats a block of code as long as the specified condition is True. The condition is checked before executing the block, and if it evaluates to False, the loop stops.

**Use Case:**

-> When the number of iterations is not known in advance

-> Repeating a task until a condition is met

-> Building interactive programs that wait for user input

**Example 1: Basic while Loop**

In [33]:
i = 1

while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

**Example 2: Waiting for User Input**

In [34]:
password = ""

while password != "secret":
    password = input("Enter password: ")

print("Access granted.")

Enter password: secret
Access granted.

**3. Control Statements in Loops**

Python provides several control statements to manage the flow of loops:

**break:** Terminates the loop prematurely, even if the loop’s condition is still True.

**continue:** Skips the rest of the code inside the loop for the current iteration and moves to the next iteration.

**else:** Optional block that executes when the loop finishes normally (i.e., without encountering a break).

**Example of break:**

In [35]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

**Example of continue:**

In [36]:
for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4

**Example of else with a Loop:**

In [37]:
for i in range(3):
    print(i)
else:
    print("Loop finished without break.")

0
1
2
Loop finished without break.

**4. Nested Loops**

Python allows loops to be nested, meaning one loop can be placed inside another loop. This is useful for iterating over multi-dimensional data structures like matrices.


**Example of Nested Loop:**

In [38]:
for i in range(1, 4):
    for j in range(1, 3):
        print(f"i = {i}, j = {j}")

i = 1, j = 1
i = 1, j = 2
i = 2, j = 1
i = 2, j = 2
i = 3, j = 1
i = 3, j = 2